
<box fit>
  {{#each model.projects as |project|}}
    {{#link-to 'project' project.id}}
      <box>{{project.name}}</box>
    {{/link-to}}
  {{/each}}
</box>
{{sources-map speakers=model.speakers assets=model.assets}}
{{listener-data}}
<button {{action 'trackLocation'}}>Start!</button>
{{outlet}}